---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<a href="https://marcosramon.net/sobre"> 
<img src="/assets/images/Tolis_Circle1.png" height="80" width="80" alt="Marcos Ramon" align="left"></a><h4> Marcos Ramon </h4> <small> Professor no Instituto Federal de Brasília, pesquisando ensino, estética e cibercultura. <a href="http://lattes.cnpq.br/9538072103558772">Lattes</a> | <a href="https://orcid.org/0000-0002-8720-8706">ORCID</a> | <a href="https://marcosramon.net/archive">Arquivo</a></small>

<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'mramon'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Leia também</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
